h1{
  font-family: "Brush Script MT", cursive;
    color: #ff9900;
  border-style:solid;
  margin-left: auto;
  padding: 5px;
  vertical-align: middle;
}
.home{
    font-size: 50px; 
    border-style: double;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    background-color: rgb(153, 204, 255);
    margin-left: 14cm;
    text-align: center;
    padding: 10px;
}
body{
    background-color: rgb(153, 204, 255);
}
img{
    padding: 10px;
}

.top{
    vertical-align: middle;
}
